SECRET_KEY=iam a secret key

SESSION_SECRET=herpderp

SOCKET_BACKEND=http://localhost:8080
SOCKET_SECRET=secret

GITHUB_CLIENT_ID=315d2f14ff149e0e0f9a
GITHUB_SECRET=0a13a987162ebcf5d853d635901ebf8dad8959f3

MEMCACHIER_SERVERS=localhost:11211

STRIPE_API=sk_test_
STRIPE_PUBLISHABLE_API=pk_test_

COUCH_DATABASE=huboard
COUCH_URL=http://127.0.0.1:5984

GITHUB_API_ENDPOINT=https://api.github.rackspace.com
GITHUB_WEB_ENDPOINT=https://github.rackspace.com

